@page "/todo"

<h3>Todo</h3>
<ul>
    @foreach (var item in Todos)
    {
        <li>
            <input type="checkbox" @bind="item.IsDone"/>
            <input @bind="item.Title" />
        </li>
    }
</ul>
<input placeholder="Something to do" @bind="newTodo"/>
<button @onclick="AddTodo">New todo</button>

@code {
    private List<TodoItem> Todos = new();
    private string? newTodo;

    protected void AddTodo(){
        if(!string.IsNullOrEmpty(newTodo)){
            Todos.Add(new TodoItem { Title = newTodo });
            newTodo = string.Empty;
        }
    }
}
